@charset "UTF-8";


body {
            background-color: aqua;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px; }
        h1 {
            color: rgb(255, 0, 179);
            background-color: rgb(128, 255, 0);
        }
        h2 {
            color: chocolate;
        }
        p{
            text-align: justify;
        }