@charset "utf-8";

/*todas as demais midias*/

/*typical device breakpoints
pequenas: até 600px
celular: de 600px até 768px
tablet: 768 até 992px
desktop: 992 até 1200px
grandes telas: acima de 1200px
*/
@media print /* impressão */ {
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body{
        background-image: url(../imagens/back-print.jpg);
    }
    main{
        border: 2px solid black;
        width: 90vw;
    }
    main h1{
        text-shadow: none;
        color: black;
    }

    img#phone{ display: none; }
    img#tablet{ display: none; }
    img#desktop{ display: none; }
    img#impressao{ display: block; }
    img#tv{ display: none; }
}
@media screen and (min-width: 768px) and (max-width: 992px) /*tablet*/ {
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone{ display: none; }
    img#tablet{ display: block; }
    img#desktop{ display: none; }
    img#impressao{ display: none; }
    img#tv{ display: none; }
}
@media screen and (min-width: 992px) and (max-width: 1200px) /*desktop*/ {
    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone{ display: none; }
    img#tablet{ display: none; }
    img#desktop{ display: block; }
    img#impressao{ display: none; }
    img#tv{ display: none; }
}
@media screen and (min-width: 1200px) /*grandes telas*/ {
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone{ display: none; }
    img#tablet{ display: none; }
    img#desktop{ display: none; }
    img#impressao{ display: none; }
    img#tv{ display: block; }
}
